@font-face {
  font-family: iransans;
  src: url("./assets/fonts/IRANSansWeb.eot");
}

* {
  font-family: iransans;
  direction: rtl;
}

html {
  min-height: 100% !important;
}

body {
  margin-bottom: 0;
  padding: 0 5px;
  height: 100vh;
}
